.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 10%;
    background-color: #6200ea;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .header-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  